body {
     background-color: #F0F0F0;
}
.tag{
    margin: 5px
    } 
.yellow{
    color: #FFBF00;
}
.tags-contant{
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 6%;
    padding-left: 7%;
}
.main-contaner {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 8%;

}
.navbar{
	min-height: 80px;
}
.navbar-default {
    background-color: #373737;
    border-color: #373737;
}
.navbar-default .navbar-brand{
	color: #fff;
	font-size: 45px;	
}
.navbar-default .navbar-brand:hover{
	color: #fff;
	font-size: 50px;
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fff;
	font-size: 18px;
	color: #FF6156;
	text-transform: uppercase;
}
.carousel-caption{
	 padding-bottom: 25%;
}
.navbar-default .container {
    padding-top: 1%;
}




.centered {
	text-align: center;
}

#about {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 60px 0;
}

#contact {
    background: none repeat scroll 0 0 #373737;
    padding: 60px 0;
    text-align: center;
    color: #fff;
}
body {
    color: #555555;
    
    font-size: 16px;
    font-weight: 300;
}

#contact .fa {
    color: #FFBF00;
    margin-bottom: 10px;
}

#team {
    background: none repeat scroll 0 0 #F5F5F5;
    padding: 60px 0;
}

.img-circle {
    border-radius: 50%;
}

p {
    line-height: 28px;
    margin-bottom: 20px;
}

#team .fa {
    background-color: #C4C4C4;
    border-radius: 100%;
    color: #FFFFFF;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    outline: 0 none;
    transition: all 0.3s ease 0s;
    width: 30px;
}

#team .fa:hover{
	background-color: #FFBF00;
}

#footerwrap {
    background: none repeat scroll 0 0 #2B2B2B;
    border-bottom: 1px solid #DDDDDD;
    padding: 25px 0 15px;
    text-align: center;
}

ul.social-buttons li a {
    color: #999999;
    font-size: 24px;
    outline: 0 none;
}

#footerwrap span.copyright {
    color: #888888;
    font-weight: 400;
    line-height: 40px;
}

.panel .panel-body {
    padding: 15px 25px 25px;
}

img {
    max-width: 100%;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.vd_bg-green {
    background-color: #1FAE66 !important;
}
.no-br {
    border-radius: 0;
}
.btn-xs {
    font-size: 11px;
    padding: 4px 8px;
}
.vd_btn {
    background-color: #DDDDDD;
    color: #FFFFFF;
}

.vd_bg-grey {
    background-color: #777777 !important;
}
.content-grid .list-wrapper > li > a {
    display: block;
    padding: 10px;
}
.content-grid .menu-icon img {
    border-radius: 100px;
}
.content-grid .list-wrapper > li {
    list-style: none outside none;
}
.content-grid .menu-icon {
    display: block;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}
.content-grid .list-wrapper > li.warning {
    background-color: #FFF5DE;
}
.content-grid .list-wrapper {
    margin: 0;
    padding: 0;
}
.mgbt-xs-20 {
    margin-bottom: 20px !important;
}
.widget:before, .widget:after {
    content: " ";
    display: table;
}

.panel .panel-body, .panel .panel-body-list {
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
}

.mgbt-xs-0 {
    margin-bottom: 0 !important;
}
.pd-20 {
    padding: 20px !important;
}
.mgr-10 {
    margin-right: 10px !important;
}
.column-sm-3 ul li {
    margin-left: 1% !important;
    margin-right: 1% !important;
    width: 30%;
}

.content-grid .list-wrapper > li {
    float: left;
    list-style: none outside none;
    margin-bottom: 5px;
    margin-top: 10px;
    position: relative;
}


.closing a {
    color: #999999 !important;
    display: block;
    padding: 3px 10px 5px;
}
.closing {
    background: none repeat scroll 0 0 #F5F5F5 !important;
    font-size: 11.4px;
}
.text-center {
    text-align: center;
}
.prepend-icon {
    margin-left: 7px;
}

.tabs .tab-content {
    background-color: #FFFFFF;
    position: relative;
}

.tabs .nav-tabs {
    background-color: #FFBF00;
    border-bottom: medium none;
}



.tabs .nav-tabs > li.active > a .menu-active, .tabs .nav-tabs > li.active > a:hover .menu-active, .tabs .nav-tabs > li.active > a:focus .menu-active {
    visibility: visible;
}
.tabs .nav-tabs > li > a .menu-active {
    bottom: -8px;
    font-size: 16px;
    left: 0;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
}

.tabs .nav-tabs > li > a {
    border-bottom: medium none;
    border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-top: medium none;
    color: #FFFFFF;
    height: 36px;
    margin: 0;
}
.nav li a {
    padding: 7px 15px;
}
.tabs .nav-tabs > li.active > a, .tabs .nav-tabs > li.active > a:hover, .tabs .nav-tabs > li.active > a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: medium none;
    color: #FFFFFF;
}

.tabs .nav-tabs > li > a:hover {
 background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: medium none;
    color: #FFFFFF;
}

.pd-20 {
    padding: 20px !important;
}

#loginModal{
    top: 130px;
}

.modal{
    position: relative !important;
    } 